div#attribute-display {
	height:10%;
}

div#original {
	background-color:#EEE;
	width:48%;
	height:90%;
	float:left;
	overflow:scroll;
}

div#tracking {
	background-color:#EEE;
	width:50%;
	height:90%;
	float:right;
	overflow:scroll;
}

span {
	display:inline-block;
	margin:2px;
}

span br {
	display:none;
}