div#attribute-display {
	height:10%;
}

div#original {
	background-color:#EEE;
	width:48%;
	height:90%;
	float:left;
	overflow:scroll;
}

div#tracking {
	background-color:#EEE;
	width:50%;
	height:90%;
	float:right;
	overflow:scroll;
}

span {
	display:inline-block;
	margin:2px;
}

span br {
	display:none;
}

span.title {
	width:auto;
	position:fixed;
	font-weight:bold;
	padding:6px;
	border:solid 1px #000;
	background-color:white;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.6;
}